.App {
  text-align: center;
}

.wrap {
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

#travel-image {
  height: 200px;
  width: 200px;
}

.nav {
  height: 200px;
  background-color: rgb(231, 238, 178);
  color: grey;
}

.itenarary {
  background-color: rgb(116, 129, 19);;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
 gap: 5px;
  background-color: blue;
  padding: 10px;
  /* grid-template-rows: repeat(5) */
}

.grid > div {
  height: 50px;
  background-color: red;
}

.search {
  background-color: aqua;
}
